 .top {
    background-color: #1b4370;
    border-bottom:1px solid black;
}
body,html,main{
    background-color:   #255C99;
    height: 100%;
}

.top  >img, .top  > .title{
    vertical-align:top;
}
.logo{
    width: 17%;
}
.title{
    display:inline-block; 
    margin-top: 4%;  
    margin-left: 2%;
    color: #fff;

}
.title > h1{
    font-size: 72px;
}
main{
    height: 100%;
}
.left{
    top: 17%;
    width: 17%;
    float: left;
    background-color: #3b81d0;
    display: inline;
    padding-bottom: 35%;
}
.main{
    float: left;
    top: 10%;
    width: 78%;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu a {
    font-size: 25px;
}

.menu li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}

  .menu li a.active {
   background-color: #992825;
    color: #fff;

}

 li >  a:hover:not(.active) {
    background-color: #992825;
    color: white;
}
#search {
    background-image: url('../img/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 83.4%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 2%; /* Add some space below the input */
    margin-left: 10%;
    margin-top: 5%;
    
}
:not(.search) > table {
    margin-top: 5%;
 }
table {
    border-collapse: collapse; /* Collapse borders */
    width: 90%; /* Full-width */
    border-bottom: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    margin-left: 10%;
    color: #fff;
}

table th, table td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

table tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
    color: #000;
}

table tr.header, table tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
/*
.form-add-vak input[placeholder]{
    color: #fff;
    font-family: "Trebuchet MS", Helvetica, sans-serif

}

.form-add-vak {
    display: inline-block;
    margin-left:34%;
    margin-top:15%;

}
.form-add-vak input{
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid #dddddd;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #ffffff;
    line-height: 17px;
    height: 44px;
    padding: 0 15px;
    box-shadow: none;
    font-weight: 300;
    outline: none;
}
.form-add-vak input[type=submit] {
   background: #00cc00;
}
*/
form input[placeholder]{
    color: #fff;
    font-family: "Trebuchet MS", Helvetica, sans-serif

}

form {
    display: inline-block;
    margin-left:34%;
    margin-top:5%;
    color: #fff;

}
form input[type=time] {
    margin-top: 7%;
 }
 select {
     width: 100%;
     box-sizing: border-box;
     border: 2px solid #ccc;
     border-radius: 4px;
     font-size: 16px;
     background-color: white;
     background-image: url('searchicon.png');
     background-position: 10px 10px;
     background-repeat: no-repeat;
     padding: 12px 20px 12px 40px;
     margin: 20px 0px;
 }
form input{
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid #dddddd;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #ffffff;
    min-width: 40%;
    line-height: 17px;
    height: 44px;
    padding: 0 15px;
    box-shadow: none;
    font-weight: 300;
    outline: none;
}
h1{
    color: #fff;
    font-size: 40px;
    margin-bottom: 4%;
}
form input[type=submit] {
   background: #00cc00;
   margin-top: 4%;
}
.delete_vak {
    color: black;
    text-decoration: underline;
}
p {
    font-size: 20px;
    color:#fff;
    margin: 5% 10%;
    margin-bottom: 0%;
}
.circleNumb{
    display:inline-block;
    line-height:0px;
    border-radius:50%;
    border:2px solid;
    font-size:32px;
}

.circleNumb span{
    display:inline-block;
    padding-top:50%;
    padding-bottom:50%;
    margin-left:50px;
    margin-right:50px;
  }
  .circle{
    text-align: center;
    display: inline-block;
    margin-left: 10%;
    margin-top: 10%;
  }
  .circleText{
      font-size: 20px;
      padding-bottom: 10%;
  }
  main{
    overflow:hidden;
    height: 100%;
        
  }
.pagination{
      margin-top: 4%;
      text-align: center;
      font-size: 30px;
  }
  .pagination li {
    display: inline-block;
}


.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination li.active {
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}
.submit{
    margin-left: 10%;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 20px;
}